@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .bg-login {
    background: linear-gradient(to right, rgb(0 0 0 / 84%), rgb(16 7 7 / 35%)),
      url("https://plus.unsplash.com/premium_photo-1665664652418-91f260a84842?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
  }
  .bg-signup {
    background: linear-gradient(to right, rgb(0 0 0 / 84%), rgb(16 7 7 / 35%)),
      url("https://images.unsplash.com/photo-1556906781-9a412961c28c?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
  }
  .bg-banner {
    background: linear-gradient(to right, rgb(0 0 0 / 84%), rgb(16 7 7 / 35%)),
      url("https://plus.unsplash.com/premium_photo-1661387631850-c14d601b11ae?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
  }
}
